*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

img, h1, h2{
  padding-top: 30px;
}

p{
  padding-top: 30px;
  font-size: 20px;
}

ul, ol{
  padding-top: 20px;
}
